<div class='content'>
  
  <h1 style="text-align: center;margin-bottom:50px;">Interview Challenge:</h1>

  <p>You are a senior member of a team that has been tasked with developing a programmatic image storage and processing service called ImageStock.com
  </p>

  <p>Unlike other image storage services that have a web front-end and target end-users, ImageStock is designed as a specialised image storage and processing engine to be used by other applications, and will (only) provide high-performance programmatic access via its API.</p>

  <p>Apart from bulk image storage and retrieval, ImageStock provides a number of image processing and transformation capabilities such as compression, rotation, a variety of filters, thumbnail creation, and masking.
  </p>

  <p>These capabilities are all delivered as a set of high-performance web-services that can operate on images provided as data in a request, operate on a remote image via a URL, or on images that are already in the repository. All of the processing features should be able to operate in bulk, and at significant scale.</p>

  <h3>Required</h3>

  <p>1. Build a simple microservice that can receive an uploaded image and return a unique identifier for the uploaded image that can be used subsequently to retrieve the
  image.</p>

  <p>2. Extend the microservice so that different image formats can be returned by using a different image file type as an extension on the image request URL.
  </p>

  <p>3. Write a series of automated tests that test the image upload, download and file format conversion capabilities.</p>

  <h3>Stretch</h3>

  <p>1. Write a series of microservices for each type of image transformation. Coordinate the various services using a runtime virtualisation or containerisation technology of your choice</p>

  <p>2. Design a language-specific API shim (in the language of your choice) for ImageStock as a reusable library. The library should provide a clean and simple programmatic interface that would allow a client back-end application to talk to the ImageStock service. The library should be idiomatic for the target language.</p>

</div>

<style type="text/css">
  .content {
    background-color: beige; 
    padding:50px 60px 50px 60px;
    margin:100px 100px 100px 100px;
  }
</style>